:root {
  --text: grey;
  --text-h: black; 
  --bg: white;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}